<%= form_with(model: talk) do |form| %>

  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
