<p id="notice"><%= notice %></p>

<h1>Talks</h1>

<%= render 'form', talk: @talk %>

<div class="d-flex flex-column">
  <% @talks.each do |talk| %>
    <span><%= author_username(talk.author_id)%></span>
    <span><%= talk.text %></span>
      <%if logged_in? && current_user.username == author_username(talk.author_id)%>
        <%= link_to 'Destroy', talk, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
  <% end %>
</div>


