<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @talk.author_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @talk.text %>
</p>

<%= link_to 'Edit', edit_talk_path(@talk) %> |
<%= link_to 'Back', talks_path %>
