<div class="row bg-light height-100">
  <div class="col-12 col-xl-8 p-0">

    <div class="row m-0 bg-light border-bottom">
      <div class="col-2 d-flex align-items-center h-gray-bar justify-content-center border-talks">
        <span class="fw-bold">Talks</span>
      </div>
    </div>

    <div>
      <img src="<%=(url_for(@user.cover_image))%>", class="img-fluid w-100 cover-image">
    </div>

    <div class="d-flex flex-column white-boxes">
      <span class="blue-bold-text">
        New Talks
      </span>
      <div class="border-top mt-3 mb-3">
      </div>

      <% @user.talks.each do |talk| %>
        <div class="d-flex mt-1 mb-1 pb-1 border-bottom">
          <div>
            <img src="<%=(url_for(@user.photo))%>", class="border size-img-info">
          </div>
          <div class="d-flex flex-column ms-3">
            <span class="author-name-static"><%= @user.full_name%></span>
            <span class="talk-body"><%= talk.text %></span>
            <span><%= destroy_talk(talk) %></span> 
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <div class="col-12 col-xl-4 gray-border">
    <div class="p-3 d-flex flex-column align-items-center">
      <div>
        <img src="<%=(url_for(@user.photo))%>", class="rounded-circle border img-right-bio">
      </div>
      <span class="author-name-static mt-2">
        <%= @user.full_name.upcase %>
      </span>
      <span class="gray-text-userpage">
        @<%= @user.username %>
      </span>
      <div class="mt-2">
        <%= button_follow_unfollow(@user) %>
      </div>
    </div>
    <div class="d-flex border-top border-bottom justify-content-around">
      <div class="d-flex flex-column align-items-center">
        <span>
          <%= @user.talks.count %>
        </span>
        <span class="gray-text-userpage">
          Talks
        </span>
      </div>
      <div class="d-flex flex-column align-items-center">
        <span>
          <%= @user.followers.count %>
        </span>
        <span class="gray-text-userpage">
          Followers
        </span>
      </div>
      <div class="d-flex flex-column align-items-center">
        <span>
          <%= @user.followeds.count %>
        </span>
        <span class="gray-text-userpage">
          Following
        </span>
      </div>  
    </div>

    <div class="p-3 border-bottom form-text">
      FOLLOWED BY
    </div>
      <%= render partial: "users/followers" %>
    <div class="p-3 border-bottom form-text">
      FOLLOWING
    </div>
      <%= render partial: "users/followeds" %>
  </div>
</div>
